#fixed-chat {

   background-color: black;
   height: 300px;


   position: fixed;
   bottom: 0px;
   right: 0;
}


/* Styles for recent chats. ---------------------------------------------------------------------- */
#recent-chats {
   background-color: white;
   border: 1px solid grey;
   height: 100%;
}

#recent-chats .title {
    width: 150px;
    padding: 5px 0px;
    border-bottom: 1px solid grey;
    background-color: lightgrey;

    text-align: center;
}
#recent-chats .title:hover {
    cursor: pointer;
}